<?xml version="1.0"?>
<!--
Web.config file for RestBucks.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
	<location path="RestBucksService">
	  <system.web>
	    <httpHandlers>
	      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
	    </httpHandlers>
	  </system.web>
	
	  <!-- Required for IIS 7.0 -->
	  <system.webServer>
	    <modules runAllManagedModulesForAllRequests="true"/>
	    <validation validateIntegratedModeConfiguration="false" />
	    <handlers>
	      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
	    </handlers>
	  </system.webServer>
	</location>
	
	<system.web>
		<compilation defaultLanguage="C#" debug="true">
			<assemblies>
			</assemblies>
		</compilation>
		<customErrors mode="RemoteOnly">
		</customErrors>
		<authentication mode="None">
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
		<trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
		<sessionState mode="InProc" cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<pages>
		</pages>
		
		<!-- Required for MONO -->
		<httpHandlers>
			<add path="RestBucksService" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
		</httpHandlers>
	</system.web>
	
	<system.webServer>
	  <validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>
